{% extends 'info_extractor/portfolio/layout.html' %}
{% load humanize %}


{% block requiruments %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock %}

{% block page-header %}
  Portfolio
{% endblock %}

{% block content %}
  <table id="positions" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Instrument</th>
        <th>Amount</th>
        <th>Value</th>
      </tr>
    </thead>
    {% for instrument, position in positions.items %}
    <tr>
      <td>{{ instrument.name }}  - {{ instrument.market.name }}</td>
      <td>{{ position.amount|floatformat:"0"|intcomma }}</td>
      <td>{{ position.value|floatformat:"2"|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('#positions').DataTable();
    })
  </script>
{% endblock %}