{% extends 'info_extractor/instrument/layout.html' %}

{% block requiruments %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block page-header %}
    Overview
{% endblock %}

{% block content %}
    <div class="chart-dashboard" id="stock-price-dashboard">
        <div class="chart-wrapper" id="stock-price-chart"></div>
        <div class="chart-wrapper" id="stock-price-filter"></div>
    </div>
    <div class="chart-dashboard" id="stock-volume-dashboard">
        <div class="chart-wrapper" id="stock-volume-chart"></div>
        <div class="chart-wrapper" id="stock-volume-filter"></div>
    </div>
    <div class="chart-wrapper" id="report-polarity-chart"></div>
{% endblock %}

{% block js %}
    {{ stock_price|json_script:"stock-price" }}
    {{ stock_volume|json_script:"stock-volume" }}
    {{ report_polarity|json_script:"report-polarity"}}

    <script type="text/javascript">

      let stock_price = JSON.parse($('#stock-price').text());
      let stock_volume = JSON.parse($('#stock-volume').text());
      let report_polarity = JSON.parse($('#report-polarity').text());

      for (row_idx = 1; row_idx < stock_price.length; row_idx++ ) {
        let date_components = stock_price[row_idx][0].split("-");
        stock_price[row_idx][0] = new Date(date_components[0], date_components[1], date_components[2])
      }
      for (row_idx = 1; row_idx < stock_volume.length; row_idx++ ) {
        let date_components = stock_volume[row_idx][0].split("-");
        stock_volume[row_idx][0] = new Date(date_components[0], date_components[1], date_components[2])
      }
      for (row_idx = 1; row_idx < report_polarity.length; row_idx++ ) {
        report_polarity[row_idx][0] = new Date(report_polarity[row_idx][0])
      }

      google.charts.load('current', {'packages':['corechart', 'controls']});
      google.charts.setOnLoadCallback(drawPriceChart);
      google.charts.setOnLoadCallback(drawVolumeChart);
      google.charts.setOnLoadCallback(drawPolarityChart);

      function drawPriceChart() {
        let data = google.visualization.arrayToDataTable(stock_price);

        let dashboard = new google.visualization.Dashboard($('#stock-price-dashboard')[0]);

        let dateFilter = new google.visualization.ControlWrapper({
          'controlType': 'ChartRangeFilter',
          'containerId': 'stock-price-filter',
          'options': {
            'filterColumnLabel': 'Date',
            'height': 20
          }
        });

        let chart = new google.visualization.ChartWrapper({
          'chartType': 'CandlestickChart',
          'containerId': 'stock-price-chart',
          'options': {
            'title': 'Stock Price',
            'legend': 'none'
          }
        });

        dashboard.bind(dateFilter, chart);
        dashboard.draw(data);
      }

      function drawVolumeChart() {
        let data = google.visualization.arrayToDataTable(stock_volume);

        let dashboard = new google.visualization.Dashboard($('#stock-volume-dashboard')[0]);

        let dateFilter = new google.visualization.ControlWrapper({
          'controlType': 'ChartRangeFilter',
          'containerId': 'stock-volume-filter',
          'options': {
            'filterColumnLabel': 'Date',
            'height': 50
          }
        });

        let chart = new google.visualization.ChartWrapper({
          'chartType': 'LineChart',
          'containerId': 'stock-volume-chart',
          'options': {
            'title': 'Volume Traded',
            'legend': 'right'
          }
        });

        dashboard.bind(dateFilter, chart);
        dashboard.draw(data)
      }

      function drawPolarityChart() {
        let data = google.visualization.arrayToDataTable(report_polarity);
        let options = {
          title: 'Annual Report Polarity',
          legend: { position: 'right' }
        };
        let chart = new google.visualization.LineChart($('#report-polarity-chart')[0]);
        chart.draw(data, options);
      }
    </script>
{% endblock %}