{% extends 'info_extractor/instrument/layout.html' %}

{% block page-header %}
Upload Stock data
{% endblock %}

{% block content %}
<form action="{% url 'info_extractor:stock_process' instrument.id %}" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="stock_file" class="col-md-2">Stock price data</label>
        <div class="col-md-3">
            <input type="file" name="stock_file" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}
