{% extends 'info_extractor/markets/layout.html' %}

{% block page-header %}
    Upload Data
{% endblock %}

{% block content %}
  <form action="{% url 'info_extractor:market_upload_process' market.id %}" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="stock_file" class="col-md-2">
          Inflation<br>
          <a href="https://www.rbnz.govt.nz/-/media/ReserveBank/Files/Statistics/tables/m1/hm1.xlsx?revision=1c8fa4b4-bba6-4906-aa00-7e29c39218e1">RBNZ M1 data</a>
        </label>
        <div class="col-md-3">
            <input type="file" name="inflation" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}